[defaults]
roles_path = roles
inventory = inventory.ini
transport = ssh
host_key_checking = False

# gathering = explicit
fact_caching = jsonfile
fact_caching_connection = fact_files
retry_files_save_path = retry_files

timeout = 10