apiVersion: v1
kind: Config
current-context: kubelet-{{ ansible_default_ipv4['address'] }}@{{ cluster_name }}
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/certs/ca.crt
    server: https://{{ groups['masters'][0] }}:443
  name: {{ cluster_name }}
preferences: {}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubelet
  name: kubelet-{{ ansible_default_ipv4['address'] }}@{{ cluster_name }}
users:
- name: kubelet
  user:
    client-certificate: /etc/kubernetes/certs/kubelet.crt
    client-key: /etc/kubernetes/certs/kubelet.key
