description "Kubernetes controller-manager"

respawn

start on started kube-apiserver
stop on stopping kube-apiserver

script
    HYPERKUBE={{ remote_bin_dir }}/hyperkube
    LOG_DIR=/var/log/kubernetes
    . /etc/kubernetes/config  # load general config
    if [ -f /etc/kubernetes/controller-manager ]; then
        . /etc/kubernetes/controller-manager
    fi
    mkdir -p /var/log/kubernetes
    exec "$HYPERKUBE" controller-manager \
    ${KUBE_LOG_LEVEL} \
    ${KUBE_MASTER} \
    ${KUBE_CONTROLLER_MANAGER_ARGS} \
    >> "${LOG_DIR}/controller-manager.log" 2>&1
end script
