description "Kubernetes proxy"

respawn

start on started kube-apiserver
stop on stopping kube-apiserver

script
    HYPERKUBE={{ remote_bin_dir }}/hyperkube
    LOG_DIR=/var/log/kubernetes
    . /etc/kubernetes/config  # load general config
    if [ -f /etc/kubernetes/proxy ]; then
        . /etc/kubernetes/proxy
    fi
    mkdir -p /var/log/kubernetes
    exec "$HYPERKUBE" proxy \
    ${KUBE_LOG_LEVEL} \
    ${KUBE_PROXY_ARGS} \
    >> "${LOG_DIR}/proxy.log" 2>&1
end script
