apiVersion: v1
kind: Config
current-context: kubelet-master@{{ cluster_name }}
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/certs/ca.crt
    server: https://{{ kube_master_ip }}:443
  name: {{ cluster_name }}
preferences: {}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: admin
  name: admin@{{ cluster_name }}
- context:
    cluster: {{ cluster_name }}
    user: kubelet
  name: kubelet-master@{{ cluster_name }}
users:
- name: admin
  user:
    client-certificate: /etc/kubernetes/certs/admin.crt
    client-key: /etc/kubernetes/certs/admin.key
- name: kubelet
  user:
    client-certificate: /etc/kubernetes/certs/kubelet.crt
    client-key: /etc/kubernetes/certs/kubelet.key
