[global]
api-url = "{{ ucloud_api_url }}"
region = "{{ ucloud_region }}"
zone = "{{ ucloud_zone }}"
project-id = "{{ ucloud_project_id }}"
public-key = "{{ ucloud_public_key }}"
private-key = "{{ ucloud_private_key }}"